* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li a i {
    font-size: 15px;
}

.action {
    color: #3ca2c2;
}

.contact-btn button {
    background-color: #3ca2c2;
    color: #fff;
    font-size: 19px;
}

/* --------------------------------------------second----------------------------- */

.bg-img {
    background-image: url(images/first-bg.jpg);
    height: 750px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.bg2-img {
    background-image: url(images/background.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}


/* ---------------------------------------------third----------------------- */

.heading {
    font-size: 40px;
}


/* --------------------------------four---------------------------------- */

.img {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-left: -12px;
}

.img1{

}



.step-number {
    background-color: #f69edb;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.step-line {
    border-left: 2px solid #ddd;
    height: 90px;
    margin-left: 20px;
}

.rounded-img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo-img {
    max-height: 50px;
    opacity: 0.4;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo-img:hover {
    opacity: 1;
}

.logo-section {
    padding: 40px 0;
    margin: 50px 0px;
}



.card img {
    border-radius: 20px;
    object-fit: cover;
    height: 240px;
}

.card-title {
    font-weight: 700;
}

.card-subtitle {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #6c757d;
}

.card-footer {
    font-size: 0.8rem;
}

.card {
    display: block;
    overflow: hidden;


}

.card img {
    transition: 0.5s;
}

.card img:hover {
    scale: 1.1;



}



/* --------------------------------------footer----------------------------- */

 .footer{
      background-color: #061d49;
      color: white;
    }
    .btn-custom {
      background-color: #6ec4cf;
      color: white;
      padding: 10px 25px;
      border-radius: 30px;
      font-weight: 500;
    }
    .footer a {
      color: white;
      text-decoration: none;
      display: block;
      margin-bottom: 8px;
    }
    .social-icons i {
      font-size: 18px;
      margin: 0 10px;
      color: white;
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 15px;
    }



    /* --------------------------------------------------about---------------------------------- */

     .color {
      background-color: #001543;
      color: white;
      font-family: 'Segoe UI', sans-serif;
    }
    .service-box {
      background-color: #061a45;
      border-radius: 15px;
      padding: 30px 35px;
      text-align: center;
      transition: 0.3s;
      border: 1px solid #1c3c65;
      margin-right: -22px;
    }

    .service-icon {
      font-size: 40px;
      margin-bottom: 15px;
      color: #00cfff;
    }
    .service-title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .service-text {
      font-size: 0.95rem;
      color: #bcd2e8;
    }



    /* ------------------------------------------------------------------- */

     .section-title {
      font-size: 2.5rem;
      font-weight: bold;
    }
    .card-custom {
      background-color: #0d264d;
      border-radius: 20px;
      padding: 30px;
      color: #fff;
      transition: 0.3s;
    }
   
    .card-img-custom {
      border-radius: 15px;
      margin: 40px 0px;
      width: 100%;
      height: auto;
    }
    .card-subtitle {
      color: #bcd2e8;
      margin-top: 10px;
      font-size: 0.95rem;
    }